<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  
  <link href="p/css/style.css" rel="stylesheet">    
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">    
  <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
  <link href="favicon.ico" rel="shortcut icon">
</head>
<body>
    