{% if page.lang == 'pl' %} 
<h3>Galeria:</h3>
{% else %}
<h3>Gallery:</h3>
{% endif %}




<h2>Estivales En Puisaye 2014</h2>
{% if page.lang == 'pl' %} 
<p>II sopran w “Mszy c-moll” Mozarta, 23-24.08.2014r. Briare, Toucy (Francja)</p>
{% else %}
<p>II soprano part in “Grand Messe c mineur” by W.A.Mozart, 23-24.08.2014r. Briare, Toucy (France)</p>
{% endif %}

<div class="gal">
  <a class="thumb-link" href="p/img/g/estivales2014/estivales1.jpg" data-lightbox="Estivales En Puisaye 2014" data-title="Estivales En Puisaye 2014"><img class="thumb" src="p/img/g/estivales2014/estivales1.m.jpg" alt="Estivales En Puisaye 2014"></a>

</div>





<h2>Sesja 2014</h2>
<div class="gal">
  <a class="thumb-link" href="p/img/g/baranowska/baranowska1.jpg" data-lightbox="Sesja 2014" data-title="Sesja 2014"><img class="thumb" src="p/img/g/baranowska/baranowska1.m.jpg" alt="Sesja 2014"></a>
  <a class="thumb-link" href="p/img/g/baranowska/baranowska2.jpg" data-lightbox="Sesja 2014" data-title="Sesja 2014"><img class="thumb" src="p/img/g/baranowska/baranowska2.m.jpg" alt="Sesja 2014"></a>
  <a class="thumb-link" href="p/img/g/baranowska/baranowska3.jpg" data-lightbox="Sesja 2014" data-title="Sesja 2014"><img class="thumb" src="p/img/g/baranowska/baranowska3.m.jpg" alt="Sesja 2014"></a>

</div>



{% if page.lang == 'pl' %} 
<h2>Koncert w Bukownie</h2>
<p>Koncert odbył się w Miejskim Ośrodku Kultury w Bukownie 11.05.2013r.</p>
{% else %}
<h2>Concert in Bukowno</h2>
<p>Bukowno 11.05.2013</p>
{% endif %}

<div class="gal">
  <a class="thumb-link" href="p/img/g/bukowno/bukowno1.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno1.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno2.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno2.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno3.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno3.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno4.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno4.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno5.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno5.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno6.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno6.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno7.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno7.m.jpg" alt="Bukowno"></a>

</div>

<br/>