{% if page.lang == 'pl' %} 
<h3>Galeria:</h3>
{% else %}
<h3>Gallery:</h3>
{% endif %}



{% if page.lang == 'pl' %} 
<h2>Koncert w Bukownie</h2>
<p>Koncert odbył się w Miejskim Ośrodku Kultury w Bukownie 11.05.2013r.</p>
{% else %}
<h2>Concert in Bukowno</h2>
<p>Bukowno 11.05.2013</p>
{% endif %}
<div class="gal">
  <a class="thumb-link" href="p/img/g/bukowno/bukowno1.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno1.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno2.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno2.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno3.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno3.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno4.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno4.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno5.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno5.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno6.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno6.m.jpg" alt="Bukowno"></a>
  <a class="thumb-link" href="p/img/g/bukowno/bukowno7.jpg" data-lightbox="Bukowno" data-title="Bukowno"><img class="thumb" src="p/img/g/bukowno/bukowno7.m.jpg" alt="Bukowno"></a>
</div>



<h2>Rodelinda</h2>
{% if page.lang == 'pl' %} 
<p>Georg Friedrich Händel “Rodelinda”. Spektakl studencki, który odbył się 21.04.2013r. w Akademii Muzycznej w Krakowie. Tytułowa partia.</p>
{% else %}
<p>Georg Friedrich Händel “Rodelinda”</p>
{% endif %}

<div class="gal">
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda1.jpg"  data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda1m.jpg"  alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda2.jpg"  data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda2m.jpg"  alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda3.jpg"  data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda3m.jpg"  alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda4.jpg"  data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda4m.jpg"  alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda5.jpg"  data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda5m.jpg"  alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda6.jpg"  data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda6m.jpg"  alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda7.jpg"  data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda7m.jpg"  alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda8.jpg"  data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda8m.jpg"  alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda9.jpg"  data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda9m.jpg"  alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda10.jpg" data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda10m.jpg" alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda11.jpg" data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda11m.jpg" alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda12.jpg" data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda12m.jpg" alt="Rodelinda"></a>
  <a class="thumb-link" href="p/img/g/rodelinda/rodelinda13.jpg" data-lightbox="Rodelinda" data-title="Rodelinda"><img class="thumb" src="p/img/g/rodelinda/rodelinda13m.jpg" alt="Rodelinda"></a>
</div>



{% if page.lang == 'pl' %} 
<h2>Wesele Figara</h2>
<p>W.A.Mozart “Wesele Figara”. Spektakl odbył się w Operze Krakowskiej 22.05.2014r. Rola Zuzanny.</p>
{% else %}
<h2>Le Nozze di Figaro</h2>
<p>Le Nozze di Figaro. Cracow Opera 22.05.2014r.</p>
{% endif %}
<div class="gal">
  <a class="thumb-link" href="p/img/g/figaro/figaro1.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro1m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro2.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro2m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro3.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro3m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro4.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro4m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro5.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro5m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro6.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro6m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro7.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro7m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro8.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro8m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro9.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro9m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro10.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro10m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro11.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro11m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro12.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro12m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro13.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro13m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro14.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro14m.jpg" alt="Le Nozze di Figaro"></a>
  <a class="thumb-link" href="p/img/g/figaro/figaro15.jpg" data-lightbox="Le Nozze di Figaro" data-title="Le Nozze di Figaro"><img class="thumb" src="p/img/g/figaro/figaro15m.jpg" alt="Le Nozze di Figaro"></a>
</div>



<h2>Impressio Art Sopot 2014</h2>
{% if page.lang == 'pl' %} 
<p>VI Ogólnopolski Konkurs Wokalny Impressio Art Sopot 2014</p>
{% else %}
<p>6th Vocal Competition Impressio Art Sopot 2014</p>
{% endif %}
<div class="gal">
  <a class="thumb-link" href="p/img/g/impressioart/impressioart1.jpg" data-lightbox="Impressio Art Sopot 2014" data-title="Impressio Art Sopot 2014"><img class="thumb" src="p/img/g/impressioart/impressioart1m.jpg" alt="Impressio Art Sopot 2014"></a>
  <a class="thumb-link" href="p/img/g/impressioart/impressioart2.jpg" data-lightbox="Impressio Art Sopot 2014" data-title="Impressio Art Sopot 2014"><img class="thumb" src="p/img/g/impressioart/impressioart2m.jpg" alt="Impressio Art Sopot 2014"></a>
  <a class="thumb-link" href="p/img/g/impressioart/impressioart3.jpg" data-lightbox="Impressio Art Sopot 2014" data-title="Impressio Art Sopot 2014"><img class="thumb" src="p/img/g/impressioart/impressioart3m.jpg" alt="Impressio Art Sopot 2014"></a>
  <a class="thumb-link" href="p/img/g/impressioart/impressioart4.jpg" data-lightbox="Impressio Art Sopot 2014" data-title="Impressio Art Sopot 2014"><img class="thumb" src="p/img/g/impressioart/impressioart4m.jpg" alt="Impressio Art Sopot 2014"></a>
  <a class="thumb-link" href="p/img/g/impressioart/impressioart5.jpg" data-lightbox="Impressio Art Sopot 2014" data-title="Impressio Art Sopot 2014"><img class="thumb" src="p/img/g/impressioart/impressioart5m.jpg" alt="Impressio Art Sopot 2014"></a>
  <a class="thumb-link" href="p/img/g/impressioart/impressioart6.jpg" data-lightbox="Impressio Art Sopot 2014" data-title="Impressio Art Sopot 2014"><img class="thumb" src="p/img/g/impressioart/impressioart6m.jpg" alt="Impressio Art Sopot 2014"></a>
</div>



<h2>Estivales En Puisaye 2014</h2>
{% if page.lang == 'pl' %} 
<p>II sopran w “Mszy c-moll” Mozarta, 23-24.08.2014r. Briare, Toucy (Francja)</p>
{% else %}
<p>II soprano part in “Grand Messe c mineur” by W.A.Mozart, 23-24.08.2014r. Briare, Toucy (France)</p>
{% endif %}
<div class="gal">
  <a class="thumb-link" href="p/img/g/estivales2014/estivales1.jpg" data-lightbox="Estivales En Puisaye 2014" data-title="Estivales En Puisaye 2014"><img class="thumb" src="p/img/g/estivales2014/estivales1.m.jpg" alt="Estivales En Puisaye 2014"></a>
</div>


<h2>Sesja 2014</h2>
<p>fot. Zofia Baranowska</p>
<div class="gal">
  <a class="thumb-link" href="p/img/g/baranowska/baranowska1.jpg" data-lightbox="Sesja 2014" data-title="Sesja 2014"><img class="thumb" src="p/img/g/baranowska/baranowska1.m.jpg" alt="Sesja 2014"></a>
  <a class="thumb-link" href="p/img/g/baranowska/baranowska2.jpg" data-lightbox="Sesja 2014" data-title="Sesja 2014"><img class="thumb" src="p/img/g/baranowska/baranowska2.m.jpg" alt="Sesja 2014"></a>
  <a class="thumb-link" href="p/img/g/baranowska/baranowska3.jpg" data-lightbox="Sesja 2014" data-title="Sesja 2014"><img class="thumb" src="p/img/g/baranowska/baranowska3.m.jpg" alt="Sesja 2014"></a>
</div>



<h2>Tarnobrzeg</h2>
{% if page.lang == 'pl' %} 
<p>Jubileusz 40-lecia Państwowej Szkoły Muzycznej w Tarnobrzegu 27.10.2014r</p>
{% else %}
<p></p>
{% endif %}
<div class="gal">
  <a class="thumb-link" href="p/img/g/tarnobrzeg/tarnobrzeg1.jpg" data-lightbox="Tarnobrzeg" data-title="Tarnobrzeg"><img class="thumb" src="p/img/g/tarnobrzeg/tarnobrzeg1m.jpg" alt="Tarnobrzeg"></a>
  <a class="thumb-link" href="p/img/g/tarnobrzeg/tarnobrzeg2.jpg" data-lightbox="Tarnobrzeg" data-title="Tarnobrzeg"><img class="thumb" src="p/img/g/tarnobrzeg/tarnobrzeg2m.jpg" alt="Tarnobrzeg"></a>
  <a class="thumb-link" href="p/img/g/tarnobrzeg/tarnobrzeg3.jpg" data-lightbox="Tarnobrzeg" data-title="Tarnobrzeg"><img class="thumb" src="p/img/g/tarnobrzeg/tarnobrzeg3m.jpg" alt="Tarnobrzeg"></a>
</div>


<br/>