<h3>Sonia Warzyńska-Dettlaff:</h3>

{% if page.lang == 'pl' %} 
<p>Polska śpiewaczka młodego pokolenia. Sopranistka. Absolwentka Akademii Muzycznej w Krakowie w
klasie dr hab. Marii Seremet. Laureatka międzynarodowych i ogólnopolskich konkursów. Wiele razy 
brała udział w koncertach i festiwalach w kraju i za granicą.</p>
{% else %}
<p>Young polish-born opera singer. Soprano. She studied voice at the Conservatory in Cracow under the 
guidance of dr hab. Maria Seremet. Is a laureate of national and international vocal competitions. As 
a solist she took part in festivals and concerts in Poland and abroad multiple times.</p>
{% endif %}

<div id="fb-container">
    <div
        class="fb-page"
        data-href="https://www.facebook.com/soniawarzynskasopran"
        data-width="500"
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true"
        data-show-posts="true"
    >
        <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/soniawarzynskasopran">
                <a href="https://www.facebook.com/soniawarzynskasopran">Sonia Warzyńska - Dettlaff</a>
            </blockquote>
        </div>
    </div>
</div>