/* Extra small devices (phones, less than 768px) */

    body {
        background-color: #000;
        background-image: url(bg.xs.jpg);        
        background-position-x: right;
        background-position-y: top;
        background-repeat: no-repeat;
        
    }

    body {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;  
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Lobster', 'Oleo Script','Open Sans', Arial, Helvetica, sans-serif;  
    }
    
    a {
        color: #c5c5c5;
    }
    a:hover {
        color: #fff;
        text-decoration: none;
    }
    
    header { 
        padding: 20px 0 20px 0;    
    }

    h1.logo {
        color: #fff;
        font-family: 'Shrikhand', 'Oleo Script', serif;
        font-weight: 400;
        font-size: 3.5em;
        letter-spacing: 0.05em;    
    }
    h1.logo a{
        color: #fff;
        text-decoration: none;
    }

    nav {
        float: left;
    }
    nav ul {
        list-style: none;
        padding-left: 0;
    }
    nav ul li {
        line-height: 3em;
        padding-right: 1.5em;
        display: list-item;
    }    

    nav ul li a {
        font-family: 'Dancing Script', serif;
        font-weight: 800;
        letter-spacing: 0.025em;
        color: #5461b1;
        text-decoration: none;
        padding: 0.5em 1em 0.5em 1em;
        text-align: center;
    }
    

    nav ul li.active a {
        background: #5461b1;
        color: #fff;
        border-radius: 6px;
    }    
    
    #content .content {
        color: #fff;
        background: #8b4118;
        border-radius: 6px;
        
    }    
    
    img.thumb-singet {
        width:100%;
        border-radius: 6px;
    }
    
    img.thumb {
        /*border-radius: 6px;*/
        width: 120px;
        height: 120px;
        margin: 15px 10px 0 0;
    }
    
    footer .personal,
    footer .social {
        margin-top: 30px;
        text-align: center;
        line-height: 2em;
    }

    footer .social a {
        margin: 10px;
        display: inline-block;
    }


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) { 

    body {
        background-image: url(bg.xs.jpg);
        background-size: cover;
        background-position-x: right;
        background-position-y: top;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }    
    
   
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) { 
    
    body {
        background-image: url(bg.md.jpg);
    }
    
    nav ul li {
        float: left;
        line-height: 4.5em;
        padding-right: 1.0em;
        display: list-item;
    }
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    body {
        background-image: url(bg.hd.jpg);
    }

    h1.logo a {
        padding-left: 0;
    }

    nav#nav-menu {
        padding-left: 0;
    }

    nav#nav-lang ul li a{
        margin-left: 40px;
    }

/* bg 01 */
    body.bg01 {
        background-image: url(bg01.hd.jpg);
    }

/* bg 03 */
    body.bg03 {
        background-image: url(bg03.hd.jpg);
    }
    body.bg03 nav ul li a,
    body.bg03 .personal a  {
        color: #efe6dd;
    }
    body.bg03 #content .content {
        color: #fff;
        background: #a8a3a1;
    }

/* bg 04 */
    body.bg04 {
        background-image: url(bg04.hd.jpg);
    }
    body.bg04 nav ul li a,
    body.bg04 .personal a  {
        color: #efe6dd;
    }
    body.bg04 #content .content {
        color: #fff;
        background: #c2ae94;
    }

/* bg 06 */
    body.bg06 {
        background-image: url(bg06.hd.jpg);
    }
    body.bg06 nav ul li a,
    body.bg06 .personal a  {
        color: #efe6dd;
    }
    body.bg06 #content .content {
        color: #fff;
        background: #d7bb95;
    }

/* bg 07 */
    body.bg07 {
        background-image: url(bg07.hd.jpg);
    }
    body.bg07 h1.logo a {
        color: #618b97;
    }
    body.bg07 nav ul li a:hover,
    body.bg07 .personal a:hover{
        color: #5cc8ed;
    }
    body.bg07 #content .content {
        color: #fff;
        background: #618b97;
    }

/* bg 08 */
    body.bg08 {
        background-image: url(bg08.hd.jpg);
    }
    body.bg08 h1.logo a {
        color: #048aa2;
    }

    body.bg08 nav ul li a,
    body.bg08 .personal a {
        color: #d4745f;
    }
    body.bg08 nav ul li a:hover,
    body.bg08 .personal a:hover{
        color: #de8680;
    }

    body.bg08 #content .content {
        color: #fff;
        background: #048aa2;
    }

/* bg 09 */
    body.bg09 {
        background-image: url(bg09.hd.jpg);
    }
    body.bg09 h1.logo a {
        color: #0f5c80;
    }
    body.bg09 nav ul li a:hover,
    body.bg09 .personal a:hover{
        color: #71b7d7;
    }
    body.bg09 #content .content {
        color: #fff;
        background: #0f5c80;
    }
}