/* Extra small devices (phones, less than 768px) */

    body {
        background-color: #000;
        background-image: url(bg.xs.jpg);        
        background-position-x: right;
        background-position-y: top;
        background-repeat: no-repeat;
        
    }

    body, h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;  
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Oleo Script','Open Sans', Arial, Helvetica, sans-serif;  
    }
    
    a {
        color: #5461b1;
    }
    a:hover {
        color: #fff;
        text-decoration: none;
    }
    
    header { 
        padding: 20px 0 20px 0;    
    }

    h1.logo {
        color: #fff;
        font-family: 'Oleo Script', serif;
        font-weight: 400;
        font-size: 3.5em;
        letter-spacing: 0.05em;    
    }
    h1.logo a{
        color: #fff;
        text-decoration: none;
    }

    nav {
        float: left;
    }
    nav ul {
        list-style: none;
        padding-left: 0;
    }
    nav ul li {
        line-height: 3em;
        padding-right: 1.5em;
        display: list-item;
    }    

    nav ul li a {
        font-weight: 800;
        letter-spacing: 0.025em;
        color: #5461b1;
        text-decoration: none;
        padding: 0.5em 1em 0.5em 1em;
        text-align: center;
    }
    

    nav ul li.active a {
        background: #5461b1;
        color: #fff;
        border-radius: 6px;
    }    
    
    #content .content {
        color: #fff;
        background: #8b4118;
        border-radius: 6px;
        
    }    
    
    img.thumb-singet {
        width:100%;
        border-radius: 6px;
    }
    
    img.thumb {
        border-radius: 6px;
        width: 150px;
        height: 150px;
    }
    
    footer .personal,
    footer .social {
        margin-top: 30px;
        text-align: center;
        line-height: 2em;
    }

    footer .social a {
        margin: 10px;
        display: inline-block;
    }


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) { 

    body {
        background-image: url(bg.xs.jpg);
        background-size: cover;
        background-position-x: right;
        background-position-y: top;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }    
    
   
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) { 
    
    body {
        background-image: url(bg.md.jpg);
    }
    
    nav ul li {
        float: left;
        line-height: 4.5em;
        padding-right: 1.5em;
        display: list-item;
    }
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    body {
        background-image: url(bg.hd.jpg);          
    }
    
    h1.logo a {
        padding-left: 0;
    }
    
    nav#nav-menu {        
        padding-left: 0;
    }
    
    nav#nav-lang ul li a{
        margin-left: 40px;
    }

}